annotated-types==0.7.0
anyio==4.12.1
astroid==4.0.4
certifi==2026.2.25
dill==0.4.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
isort==8.0.1
mccabe==0.7.0
ollama==0.6.1
platformdirs==4.9.4
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.2.2
tomlkit==0.14.0
typing-inspection==0.4.2
typing_extensions==4.15.0
websockets==16.0
